* {
    font-size: 1.4em;
    text-align: center;
    color: white;    
    font-family: Helvetica;
}
.container {
    border: 2px solid black;
    /* height: 500px; */
    display: flex;
    direction: row;

}
.items{
    flex: 1;
}
#one {
    order: 5;
    /* it moves the item towards the end or 5 th position */
}
.container div:nth-child(4) {
    order: 1;
    /* it did not move towards first bcz the order elements are not arrange manually */
}
.container div:nth-child(2) {
    order: 2;
    /* it did not move towards first bcz the order elements are not arrange manually */
}
.container div:nth-child(3) {
    order: 3;
    /* it did not move towards first bcz the order elements are not arrange manually */
}
.container  div:nth-child(1), div:nth-child(4) {
    background-color: #9b59b6;
}
.container  div:nth-child(2), div:nth-child(5) {
    background-color: #f1c40f;
}
.container  div:nth-child(3), div:nth-child(6) {
    background-color: #e74c3c;
}